.app-header {
  height: 60px;
  line-height: 60px;
  border-bottom: thin lightgrey solid;
  font-family: sans-serif;
  font-weight: bold;
  color: darkblue;
}

.app-header .app-header--title {
  font-size: 28px;
  padding-left: 5px;
  textalign: center;
}
